$lapis-lazuli: #235998;
$inch-worm: #b6ef13;
$mercury: #e6e8e6;
$radical-red: #ff3266;
$midnight: #001433;
$theme-blue: $lapis-lazuli;
$theme-yellow: $inch-worm;
$theme-gray: $mercury;
$theme-red: $radical-red;
$theme-dark-blue: $midnight;
