$bp-xsmall: 20rem; /* 320px ( / 16 ) */
$bp-xss: 26.25rem; /* 420px ( / 16 ) */
$bp-small: 32rem; /* 512px ( / 16 ) */
$bp-smallmedium: 40rem; /* 640px ( / 16 ) */
$bp-medium: 48rem; /* 768px ( / 16 ) */
$bp-mediumlarge: 60rem; /* 960px ( / 16 ) */
$bp-large: 64rem; /* 1024px ( / 16 ) */
$bp-xlarge: 80rem; /* 1280px ( / 16 ) */

$main-content-margin: 1rem;

@media all and (min-width: $bp-large) {
  $main-content-margin: 2rem;
}
