@import "modules/colors";
@import "modules/layout";

.hero {
  align-items: center;
  background: linear-gradient(0deg, #E0306E, #6438B5);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: -$main-content-margin;
  overflow: hidden;
  padding: 2.5rem;

  h1 {
    color: $theme-gray;
    font-size: 3.5rem;
    position: relative;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 250ms ease-in--out;
  }
}
