@import "modules/colors";
@import "modules/layout";

$avatar-default: 2.5rem;
$avatar-large: 5rem;

.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  a {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
  }

  &--small {
    background-color: rgba(255, 255, 255, 0.85);

    .title {
      color: $color-gray-700;
      text-shadow: none;
    }
  }
}

.avatar {
  border-radius: 50%;
  height: $avatar-default;
  width: $avatar-default;
  transition: all 250ms ease-in-out;
}

.avatar--small {
  height: $avatar-default;
  width: $avatar-default;
}

.headings {
  align-items: center;
  color: $color-mono-0;
  display: grid;
  padding: 0.5rem 1rem;
}

.title {
  font-size: 1.75rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: $color-gray-100;
  font-size: 1rem;
  height: 0;
  opacity: 0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in-out;
  visibility: hidden;
}

.subtitle--hidden {
  height: 0;
  opacity: 0;
}

@media all and (min-width: $bp-mediumlarge) {
  .avatar {
    height: $avatar-large;
    width: $avatar-large;
  }

  .avatar--small {
    height: $avatar-default;
    width: $avatar-default;
  }

  .subtitle {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .subtitle--hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
