@import "modules/colors";
@import "modules/layout";

$avatar-default: 5rem;
$avatar-small: 2.5rem;

.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  a {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
  }
}

.avatar {
  border-radius: 50%;
  height: $avatar-default;
  width: $avatar-default;
  transition: all 250ms ease-in-out;
}

.avatar--small {
  height: $avatar-small;
  width: $avatar-small;
}

.headings {
  align-items: center;
  color: $theme-gray;
  display: grid;
  padding: 0.5rem 1rem;
}

.title {
  font-size: 1.75rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: $color-gray-200;
  font-size: 1rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in-out;
}

.subtitle--hidden {
  height: 0;
  opacity: 0;
}

@media all and (min-width: $bp-large) {
}
